<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{!-- importing a partial --}}
        {{>header}}
        <img class="portrait" src="./img/portrait.jpg" alt="me">
    </div>

    {{!-- importing a partial --}}
    {{>footer}}
</body>

</html>